main {
  width: 100%;
  height: auto;
  padding-bottom: 5rem;
}
button {
  width: 200px;
  height: 70px;
  font-size: 1.5rem;
  font-weight: 700;
  background: #8739f9;
  border: none;
  outline: none;
  color: #ffff;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
}
.options {
  width: 100%;
  height: 300px;
  display: grid;
  grid-template-rows: 150px 1fr;
}

.options__titile {
  width: 95%;
  margin: 0 auto;

  text-align: center;
  color: #8739f9;
}
.options__choose {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 1rem;
}
label {
  width: 100%;
  padding-left: 1rem;
  font-size: 1.2rem;
}

input[type="radio"] {
  width: 5%;
  transform: scale(1.3);
}

.showResult {
  width: 100%;
  margin-top: 7rem;
  /* background: red; */
  /* display: none; */
}

#option-1 {
  display: none;
}

.discription {
  width: 100%;
  padding: 1rem;
  text-align: center;
}
.digram {
  width: 80%;
  height: 250px;
  margin: 0 auto;
}

.digram > img {
  width: 100%;
  height: 100%;
}

.userInput {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
}

.userInput > input {
  width: 80px;
  height: 80px;
  font-size: 2rem;
  color: #333;
  font-weight: 600;
  padding: 0.5rem;
  outline: none;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  text-align: center;
}

.btn {
  width: 100%;
  padding-top: 2rem;
  display: grid;
  place-items: center;
}
#option-2 {
  display: none;
}
.userInputSecond {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
}

#option-3 {
  display: none;
}

.calresult {
  width: 100%;
  height: 160px;
  margin-top: 3rem;
}

.dispalyhere {
  text-align: center;
}
.displaybox {
  width: 90%;
  height: 100px;
  margin: 0 auto;
  margin-top: 3rem;
  font-size: 1.5rem;

  text-align: center;
  padding: 0.3rem;
  padding-top: 2rem;
  border: 2px dashed #8739f9;
}
