main {
  width: 100%;
  height: auto;
}
input {
  font-size: 2rem;
  color: #333;
  font-weight: 600;
  padding: 0.5rem;
  outline: none;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  text-align: center;
}

button {
  width: 150px;
  height: 60px;
  font-size: 1.5rem;
  font-weight: 700;
  background: #8739f9;
  border: none;
  outline: none;
  color: #ffff;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
}
.hypotenuse-calculation {
  width: 100%;
  display: grid;
  grid-template-rows: 80px 1fr 100px 80px;
}

.deatils {
  width: 100%;
  text-align: center;
  padding: 2rem;
  font-size: 1.2em;
  color: #333;
  font-weight: 600;
}
.triangle {
  width: 100%;
  height: 250px;
}
.triangle > img {
  width: 100%;
  height: 100%;
}

.sideInput {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
}
.sides {
  width: 80px;
  height: 80px;
}

.submit {
  padding-top: 2rem;
  display: grid;
  place-items: center;
}
.hypotenuse-result {
  width: 100%;
  height: 25vh;
  margin-top: 3rem;
  display: grid;
  place-items: center;
  grid-template-rows: 60px 1fr;
}
.show {
  padding: 1rem;

  text-align: center;
}

.value {
  width: 80%;
  height: 100px;
  margin: 0 auto;
  font-size: 1.5rem;
  text-align: center;
  padding: 1rem;
  padding-top: 1.5rem;
  border: 2px dashed #8739f9;
}
